doctype html
html
    head
        block title
            title АУКЦИОН БРАТЬЯ
        link(rel='stylesheet', href='/stylesheets/styles.css')
        link(rel='stylesheet', href='/stylesheets/w3.css')
        script(src='http://localhost:8888/socket.io/socket.io.js')
        script(src='/js/jquery-3.3.1.min.js')
        script(src='/js/jquery-ui.min.js')
    body
        block content
        block js